body {
    background-color:black;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
    margin:0;
}
input {
    color:black;
    background-color:white;
    width:200px;
    height:30px;
    font-size:20px;
    border:none;
    border-radius:10px;
}
button {
    color:black;
    background-color:white;
    width:150px;
    height:30px;
    font-size:20px;
    cursor:pointer;
    border:none;
    border-radius:10px;
}

.white {
    color:white;
}
.red {
    color:red;
}
.center {
    text-align:center;
}

#Losung {
    animation-name:Losung;
    animation-duration:3s;
}

@keyframes Losung {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}